

<h2>Home Page</h2>

<form asp-action="GetAll" asp-controller="Item" method="post">
    <label>Get all products:</label>
    <input type="submit" value="Submit" />
</form>
<br />

<form asp-action="GetMinPrice" asp-controller="Item" method="post">
    <label>Get minimum price:</label>
    <input type="submit" value="Submit" />
</form>
<br />



